{% extends 'core/base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class= "text-warning mb-5 border-bottom">Education and Experience</h1>
        <div class="row text-white">
            <div class="col-sm-6">
                <h3 class="text-warning mb-3 text-center"><u>Education</u></h3>
                    <div class="text-center mt-5">
                        <ul>
                            <li>
                                <i class="fas fa-user-graduate e-color fa-2x mb-2"></i>
                                <p class='e-font'>Bachelors in Engineering with 57%</p>
                            </li>

                            <li>
                                <i class="fas fa-school e-color fa-2x mb-2"></i>
                                <p class="e-font">Higher Secondary with 72%</p>
                            </li>

                            <li>
                                <i class="fas fa-book-reader fa-2x mb-2 e-color"></i>
                                <p class="e-font">Senior Secondary with 71%</p>
                            </li>
                        </ul>
                        

                        
                        
                    </div>
            </div>

            <div class="col-sm-6">
                <h3 class="text-warning mb-3 text-center"><u>Experience</u></h3>
                <div class="text-center mt-5">
                    <ul>
                        <li>
                            <i class="fas fa-headset e-color fa-2x mb-2"></i>
                            <p class="e-font">3.5 years in A.M Infoweb as Tech Support</p>
                        </li>

                        <li>
                            <i class="fas fa-headset e-color fa-2x mb-2"></i>
                            <p class="e-font">6 months in Tech Mahindra as Tech Support</p>
                        </li>

                        <li>
                            <i class="fas fa-laptop-code fa-2x mb-2 e-color"></i>
                            <p class="e-font">1 year as Python Developer in Cinegence Media Pvt Ltd</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}