/* Font Style */

.container-fluid {
    min-height: 100%;
}

html, body {
    height: 100%;
}

.st-font {
    font-family: 'Lobster', cursive;
}
.e-color {
    color: chartreuse;
    
}
.e-font {
    color: silver;
    font-size: large;
}
